<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated CSM -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="csm.presentation.CsmModelWizardID"
            name="%_UI_CsmModelWizard_label"
            class="csm.presentation.CsmModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CsmModelFile.gif">
         <description>%_UI_CsmModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated CSM -->
      <editor
            id="csm.presentation.CsmEditorID"
            name="%_UI_CsmEditor_label"
            icon="icons/full/obj16/CsmModelFile.gif"
            extensions="csm"
            class="csm.presentation.CsmEditor"
            contributorClass="csm.presentation.CsmActionBarContributor">
      </editor>
   </extension>

</plugin>
