<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Jess -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="jess.presentation.JessModelWizardID"
            name="%_UI_JessModelWizard_label"
            class="jess.presentation.JessModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/JessModelFile.gif">
         <description>%_UI_JessModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Jess -->
      <editor
            id="jess.presentation.JessEditorID"
            name="%_UI_JessEditor_label"
            icon="icons/full/obj16/JessModelFile.gif"
            extensions="jess"
            class="jess.presentation.JessEditor"
            contributorClass="jess.presentation.JessActionBarContributor">
      </editor>
   </extension>

</plugin>
